{% extends "base.html" %}

{% block content %}
    <h1>Hello people!</h1>
    {% for data in test_data %}
    <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ data.user }}</a>
                <small class="text-muted">{{ data.status }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ data.announcement }}</a></h2>
              <p class="article-content">{{ data.details }}</p>
            </div>
          </article>
    <h1></h1>
    <p></p>
    <p></p>
    {% endfor %}
{% endblock content %}